# Data Project

This project has the objective of analyzing trends between ETS (Emissions Trading System), the size of emissions, and the size of the emitters in the EU+UK. The data has been obtained at the European Environment Agency website.

Imports and set magics:

In [1]:
%pip install openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
#from matplotlib_venn import venn2

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject

Requirement already satisfied: openpyxl in c:\users\mauri\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\mauri\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

# Read and clean data

The data has been imported manually through the code and has been cleaned previously in the selection process of the data on the previously mentioned website.

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [61]:

size_emissions = pd.read_excel('Size_emissions.xlsx', engine='openpyxl')

historical_emissions = pd.read_excel('Historical_emissions.xlsx', engine='openpyxl')

entities_size = pd.read_excel('Entities_size.xlsx', engine='openpyxl')

,Size,10 Aviation,20 Combustion of fuels,20-99 All stationary installations
0,Large (emissions > 500 kt CO2-eq),0.0393,0.0621,0.0661
1,Medium (50 < emissions < 500 kt CO2-eq),0.1607,0.1594,0.2069
2,Small (25 < emissions < 50 kt CO2-eq),0.0623,0.1273,0.1455
3,Mini (0 < emissions < 25 kt CO2-eq),0.7180,0.5946,0.5328
4,Zero (emissions = 0 kt CO2-eq),0.0197,0.0565,0.0488

In [62]:
size_emissions

,Year,Definition,Countries,Type,Measure,Size,ETS Information,Entities
0,2021,2. Verified emissions,EU27 + UK,10 Aviation,t CO2-eq,Large (emissions > 500 kt CO2-eq),"16 153 519,000",12
1,2021,2. Verified emissions,EU27 + UK,10 Aviation,t CO2-eq,Medium (50 < emissions < 500 kt CO2-eq),"9 200 219,000",49
2,2021,2. Verified emissions,EU27 + UK,10 Aviation,t CO2-eq,Mini (0 < emissions < 25 kt CO2-eq),"887 632,000",219
3,2021,2. Verified emissions,EU27 + UK,10 Aviation,t CO2-eq,Small (25 < emissions < 50 kt CO2-eq),"692 917,000",19
4,2021,2. Verified emissions,EU27 + UK,10 Aviation,t CO2-eq,Zero (emissions = 0 kt CO2-eq),0,6
5,2021,2. Verified emissions,EU27 + UK,20 Combustion of fuels,t CO2-eq,Large (emissions > 500 kt CO2-eq),"628 716 707,000",331
6,2021,2. Verified emissions,EU27 + UK,20 Combustion of fuels,t CO2-eq,Medium (50 < emissions < 500 kt CO2-eq),"126 929 572,000",849
7,2021,2. Verified emissions,EU27 + UK,20 Combustion of fuels,t CO2-eq,Mini (0 < emissions < 25 kt CO2-eq),"22 369 379,000",3167
8,2021,2. Verified emissions,EU27 + UK,20 Combustion of fuels,t CO2-eq,Small (25 < emissions < 50 kt CO2-eq),"23 656 961,000",678
9,2021,2. Verified emissions,EU27 + UK,20 Combustion of fuels,t CO2-eq,Zero (emissions = 0 kt CO2-eq),0,301
10,2021,2. Verified emissions,EU27 + UK,20-99 All stationary installations,t CO2-eq,Large (emissions > 500 kt CO2-eq),"964 731 165,000",567
11,2021,2. Verified emissions,EU27 + UK,20-99 All stationary installations,t CO2-eq,Medium (50 < emissions < 500 kt CO2-eq),"265 192 214,000",1775
12,2021,2. Verified emissions,EU27 + UK,20-99 All stationary installations,t CO2-eq,Mini (0 < emissions < 25 kt CO2-eq),"36 694 996,000",4571
13,2021,2. Verified emissions,EU27 + UK,20-99 All stationary installations,t CO2-eq,Small (25 < emissions < 50 kt CO2-eq),"44 031 418,000",1248
14,2021,2. Verified emissions,EU27 + UK,20-99 All stationary installations,t CO2-eq,Zero (emissions = 0 kt CO2-eq),0,419

In [63]:
historical_emissions

    Year                              Sector         Emissions
0   2013                         10 Aviation    51 019 141,000
1   2014                         10 Aviation    52 020 623,000
2   2015                         10 Aviation    54 313 368,000
3   2016                         10 Aviation    59 160 541,000
4   2017                         10 Aviation    62 143 223,000
5   2018                         10 Aviation    65 153 008,000
6   2019                         10 Aviation    66 006 062,000
7   2020                         10 Aviation    24 481 061,000
8   2021                         10 Aviation    26 934 287,000
9   2013              20 Combustion of fuels  1307 402 649,000
10  2014              20 Combustion of fuels  1210 965 145,000
11  2015              20 Combustion of fuels  1198 982 620,000
12  2016              20 Combustion of fuels  1152 964 947,000
13  2017              20 Combustion of fuels  1151 049 669,000
14  2018              20 Combustion of fuels  1083 863 749,000
15  2019              20 Combustion of fuels   942 173 832,000
16  2020              20 Combustion of fuels   809 843 267,000
17  2021              20 Combustion of fuels   801 672 619,000
18  2013  20-99 All stationary installations  1881 486 471,000
19  2014  20-99 All stationary installations  1786 910 287,000
20  2015  20-99 All stationary installations  1775 429 248,000
21  2016  20-99 All stationary installations  1723 587 912,000
22  2017  20-99 All stationary installations  1727 503 446,000
23  2018  20-99 All stationary installations  1656 094 530,000
24  2019  20-99 All stationary installations  1503 934 809,000
25  2020  20-99 All stationary installations  1330 059 158,000
26  2021  20-99 All stationary installations  1310 649 793,000

Explain what you see when moving elements of the interactive plot around.

In [64]:
entities_size

,Size,10 Aviation,20 Combustion of fuels,20-99 All stationary installations
0,Large (emissions > 500 kt CO2-eq),0.0393,0.0621,0.0661
1,Medium (50 < emissions < 500 kt CO2-eq),0.1607,0.1594,0.2069
2,Small (25 < emissions < 50 kt CO2-eq),0.0623,0.1273,0.1455
3,Mini (0 < emissions < 25 kt CO2-eq),0.7180,0.5946,0.5328
4,Zero (emissions = 0 kt CO2-eq),0.0197,0.0565,0.0488

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [65]:
plt.scatter(entities_size['Size'], size_emissions['10 Aviation'])
plt.xlabel('Entity Size')
plt.ylabel('Emissions')
plt.title('Relationship between Entity Size and Emissions')
plt.show()

KeyError: '10 Aviation'

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.