Setup packages and read data

In [1]:
import pandas as pd

In [5]:
ets = pd.read_csv('ETS_Database_v49_Jul22.csv', sep='\t')
ets.head()

,country,country_code,ETS information,main activity sector name,unit,value,year
0,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,498797.0,2005
1,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,383157.0,2013
2,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,351210.0,2017
3,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,335835.0,2018
4,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,299741.0,2021

Identify variables

In [90]:
rows_to_drop = {}
def add_rows_to_drop(colname, *rowvalues):
    if not colname in rows_to_drop: rows_to_drop[colname] = []
    rows_to_drop[colname].extend(rowvalues)

In [91]:
countries = ets[['country','country_code']].drop_duplicates()
print(countries)
add_rows_to_drop('country', 'NER 300 auctions')

                        country country_code
0                       Austria           AT
68                      Belgium           BE
125                    Bulgaria           BG
185                      Cyprus           CY
220                     Czechia           CZ
254                     Germany           DE
367                     Denmark           DK
395                     Estonia           EE
423                       Spain           ES
544                      France           FR
607                     Finland           FI
709                      Greece           GR
743   United Kingdom (excl. NI)           GB
809                     Hungary           HU
827                     Ireland           IE
859                     Croatia           HR
977                       Italy           IT
1007                  Lithuania           LT
1048                     Latvia           LV
1113                Netherlands           NL
1141                 Luxembourg           LU
1185                     Norway           NO
1247                     Poland           PL
1253                   Portugal           PT
1321                    Romania           RO
1460                   Slovenia           SI
1483                   Slovakia           SK
1516                     Sweden           SE
1755           Northern Ireland           XI
1756              Liechtenstein           LI
1771                    Iceland           IS
1772           NER 300 auctions       NER300
1794                      Malta           MT

In [92]:
ets_info = ets['ETS information'].unique()
ets_info

array(['1.1 Freely allocated allowances',
       '1.1.1 Free allocation to existing entities (Art. 10a(1))',
       '1.1.2 Free allocation from the new entrants reserve (Art. 10a(7))',
       '1.1.3 Free allocation for modernisation of electricity generation (Art. 10c)',
       '2. Verified emissions', '2.1 EU-ETS Verified Emission',
       '4.1 Surrendered EU allowances (EUAs and EUAAs)',
       '4.2 Surrendered certified emission reductions (CERs)',
       '4. Total surrendered units',
       '4.3 Surrendered emission reduction units (ERUs)',
       '2.2 Swiss Verified Emissions for aircraft operators',
       '4.4 Surrendered Units CHU/CHUAA',
       '1.1.4 Swiss Free Allocated allowances for aircraft operators',
       '1.2 Correction to freely allocated allowances (not reflected in EUTL)',
       '1. Total allocated allowances (EUA or EUAA)',
       '3. Estimate to reflect current ETS scope for allowances and emissions',
       '1.3 Allowances auctioned or sold (EUAs and EUAAs)'], dtype=object)

In [93]:
sectors = ets['main activity sector name'].unique()
sectors
add_rows_to_drop('main activity sector name', '21-99 All industrial installations (excl. combustion)', '20-99 All stationary installations')

In [94]:
units = ets['unit'].unique()
units

array(['tonne of CO2 equ.'], dtype=object)

In [95]:
year = ets['year'].unique()
year
add_rows_to_drop('year', 'Total 1st trading period (05-07)', 'Total 2nd trading period (08-12)', 'Total 3rd trading period (13-20)', 'Total 4th trading period (21-30)')

drop rows:

In [96]:
rows_to_drop

{'country': ['NER 300 auctions'],
 'main activity sector name': ['21-99 All industrial installations (excl. combustion)',
  '20-99 All stationary installations'],
 'year': ['Total 1st trading period (05-07)',
  'Total 2nd trading period (08-12)',
  'Total 3rd trading period (13-20)',
  'Total 4th trading period (21-30)']}

In [111]:
for colname, values in rows_to_drop.items(): ets.drop(ets.loc[ets[colname].isin(values)].index, inplace=True)

In [112]:
ets

,country,country_code,ETS information,main activity sector name,unit,value,year
0,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,498797.0,2005
1,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,383157.0,2013
2,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,351210.0,2017
3,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,335835.0,2018
4,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,299741.0,2021
...,...,...,...,...,...,...,...
74917,Slovenia,SI,4. Total surrendered units,24 Production of pig iron or steel,tonne of CO2 equ.,273159.0,2007
74918,Slovenia,SI,4. Total surrendered units,24 Production of pig iron or steel,tonne of CO2 equ.,218212.0,2016
74919,Slovenia,SI,4.2 Surrendered certified emission reductions ...,24 Production of pig iron or steel,tonne of CO2 equ.,0.0,2011
74920,Slovenia,SI,4.2 Surrendered certified emission reductions ...,24 Production of pig iron or steel,tonne of CO2 equ.,0.0,2012
74921,Slovenia,SI,4.3 Surrendered emission reduction units (ERUs),24 Production of pig iron or steel,tonne of CO2 equ.,0.0,2007