Setup packages and read data

In [99]:
import pandas as pd
import numpy as np

In [129]:
ets = pd.read_csv('ETS_Database_v49_Jul22.csv', sep='\t')
ets.head()

,country,country_code,ETS information,main activity sector name,unit,value,year
0,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,4.987970e+05,2005
1,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,3.831570e+05,2013
2,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,3.512100e+05,2017
3,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,3.358350e+05,2018
4,Austria,AT,1.1 Freely allocated allowances,32 Manufacture of ceramics,tonne of CO2 equ.,2.997410e+05,2021
...,...,...,...,...,...,...,...
77074,Italy,IT,1.1 Freely allocated allowances,20-99 All stationary installations,tonne of CO2 equ.,5.679174e+08,Total 3rd trading period (13-20)
77075,Italy,IT,2.1 EU-ETS Verified Emission,20-99 All stationary installations,tonne of CO2 equ.,1.197033e+09,Total 3rd trading period (13-20)
77076,Romania,RO,1.1.1 Free allocation to existing entities (Ar...,20 Combustion of fuels,tonne of CO2 equ.,6.354542e+06,Total 4th trading period (21-30)
77077,Romania,RO,1. Total allocated allowances (EUA or EUAA),20-99 All stationary installations,tonne of CO2 equ.,3.780348e+07,Total 4th trading period (21-30)
77078,Romania,RO,2. Verified emissions,20-99 All stationary installations,tonne of CO2 equ.,3.230268e+07,Total 4th trading period (21-30)

In [119]:
ets.rename(columns={'ETS information':'info', 'main activity sector name':'sector'}, inplace=True)

Identify variables

In [120]:
rows_to_drop = {}
def add_rows_to_drop(colname, *rowvalues):
    if not colname in rows_to_drop: rows_to_drop[colname] = []
    rows_to_drop[colname].extend(rowvalues)

In [121]:
countries = ets[['country','country_code']].drop_duplicates()
add_rows_to_drop('country', 'NER 300 auctions')

In [122]:
info = ets['info'].unique()
info.sort()
add_rows_to_drop('info', '1. Total allocated allowances (EUA or EUAA)', '1.1 Freely allocated allowances', '2. Verified emissions', '4. Total surrendered units')

In [123]:
sectors = ets['sector'].unique()
add_rows_to_drop('sector', '21-99 All industrial installations (excl. combustion)', '20-99 All stationary installations')

In [124]:
units = ets['unit'].unique()
del ets['unit']

In [125]:
year = ets['year'].unique()
add_rows_to_drop('year', 'Total 1st trading period (05-07)', 'Total 2nd trading period (08-12)', 'Total 3rd trading period (13-20)', 'Total 4th trading period (21-30)')

drop rows:

In [126]:
for colname, values in rows_to_drop.items(): ets.drop(ets.loc[ets[colname].isin(values)].index, inplace=True)

In [127]:
ets

,country,country_code,info,sector,value,year
6,Austria,AT,1.1.1 Free allocation to existing entities (Ar...,32 Manufacture of ceramics,481340.0,2011
7,Austria,AT,1.1.1 Free allocation to existing entities (Ar...,32 Manufacture of ceramics,478462.0,2012
8,Austria,AT,1.1.2 Free allocation from the new entrants re...,32 Manufacture of ceramics,0.0,2017
9,Austria,AT,1.1.2 Free allocation from the new entrants re...,32 Manufacture of ceramics,0.0,2018
10,Austria,AT,1.1.2 Free allocation from the new entrants re...,32 Manufacture of ceramics,0.0,2021
...,...,...,...,...,...,...
74915,Slovenia,SI,2.1 EU-ETS Verified Emission,24 Production of pig iron or steel,217488.0,2016
74916,Slovenia,SI,2.1 EU-ETS Verified Emission,24 Production of pig iron or steel,222518.0,2019
74919,Slovenia,SI,4.2 Surrendered certified emission reductions ...,24 Production of pig iron or steel,0.0,2011
74920,Slovenia,SI,4.2 Surrendered certified emission reductions ...,24 Production of pig iron or steel,0.0,2012
74921,Slovenia,SI,4.3 Surrendered emission reduction units (ERUs),24 Production of pig iron or steel,0.0,2007